@model Sentry.WebApp.ViewModels.StudentEnrollmentListViewModel

@{
    ViewData["Title"] = Model.Title;
}

<ul class="page-title">
    <li>
        <h1>
            @ViewData["Title"] Issues
        </h1>
    </li>
</ul>

<ol class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Sentry Home</a></li>
    <li><a asp-area="" asp-controller="Student" asp-action="Index">Student Dashboard</a></li>
    <li class="active">Record List</li>
</ol>

<div id="content-container" class="content-container" role="main">

    <div id="StudentEnrollmentTableSection" class="d-none">
        <div class="table-responsive">
            <table id="studentEnrollmentTable" class="table table-hover table-striped studentEnrollment recordList">
                <caption class="sr-only">List of Bad @Model.Title Records.</caption>
                <thead>
                    <tr class="tableHeader">
                        <th>Id</th>
                        <th>SystemId</th>
                        <th>Type:</th>
                        <th>Student Id:</th>
                        <th>Term:</th>
                        <th>Campus:</th>
                        <th>Error Categories:</th>
                        <th>Data Source:</th>
                        <th>Integration Date:</th>
                        <th>Errors:</th>
                        <th>None</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div id="ZeroInboxStudentEnrollmentSection" class="d-none">
        <h3><span title="for @Model.Title at least :)">You've achieved the ever-elusive 'Inbox ZERO'!</span></h3>
        <div class="inboxZero grid two-col-one-row">
            <aside class="child">
                <img class="pull-left" alt="Award Ribbon Image" title="Way to be Awesome!" src="~/img/award-ribbon.png" />
            </aside>
            <section class="child">
                <h4>Way to be <em title="You're Amazing!">awesome</em>, <span class="user-name">@Model.User</span>! &mdash; Congratulations on a job well done!  <i role="img" class="fa fa-thumbs-up"></i></h4>
                <h5>All the @Model.Title issues have been remediated!</h5>
                <h5>Do any of your teammates need help?</h5>
                <p><small class="text-muted">Maybe take a quick walk to stretch your legs? You deserve a break. :)</small></p>
            </section>
        </div>
    </div>


</div>

@section scripts {
    <script>
        function LoadStudentEnrollmentList() {

            var uri = '@Html.Raw(Url.Action("GetStudentEnrollmentList", "Student"))';
            var pageStart = 1;
            var pageLength = 10;

            // Data Table Variables
            // ------------------------------------------------------------
            var studentTable = $('#studentEnrollmentTable');
            var studentTableBody = $('#studentEnrollmentTable tbody');
            var paginationControlVisibility = "p";
            var lengthControlVisibility = "l";

            var studentEnrollmentCount = $('#StudentEnrollmentCount').find('span').text();
            console.log("Page Length: " + pageLength);
            console.log("Enrollment Count: " + studentEnrollmentCount);

            if (studentEnrollmentCount <= pageLength) {
                paginationControlVisibility = ""; // hides pagination
                lengthControlVisibility = ""; // hides page length dropdown
            };

            // DataTables initialization
            $(studentTable)
            .on('preXhr.dt', function (e, settings, data) {
                data.searchValue = data.search.value,
                data.sortColumn = data.columns[data.order[0].column].data,
                data.sortColumnDirection = data.order[0].dir
            })
            .DataTable({
                pageLength: pageLength,
                "lengthMenu": [10, 25, 50, 75, 100],
                // dom() more info: https://datatables.net/reference/option/dom ::
                // B = Buttons
                // l = page (l)ength changing input control
                // f = (f)iltering input
                // r = p(r)ocessing display element
                // t = (t)able
                // i = table (i)nfo summary - aka: showing x of x records
                // p = (p)agination control
                dom: 'B' + lengthControlVisibility + 'frti' + paginationControlVisibility,
                cache: true,
                paging: true,
                processing: true,
                serverSide: true,
                ajax: {
                    url: uri,
                    method: 'POST',
                },
                language: {
                    //processing: '<div id="dt-processing">Processing... <div class="spinner"></div></div>',
                    processing: '<i class="fa fa-spin fa-asterisk fa-fw"></i> <span class=""> Loading...</span>',
                    search: 'Filter',
                    emptyTable: "No records found."
                },
                // Ellipsis: https://datatables.net/plug-ins/dataRender/ellipsis more info: https://cdn.datatables.net/plug-ins/1.10.19/dataRender/ellipsis.js ::
                columnDefs: [
                    {
                        targets: 0,
                        className: 'hide',
                        data: 'id',
                        defaultContent: '<i>Not set</i>'
                    },
                    {
                        targets: 1,
                        className: 'hide',
                        data: 'systemId',
                        defaultContent: '<i>Not set</i>'
                    },
                    {
                        targets: 2,
                        data: 'recordStatus',
                        defaultContent: '<i>Not set</i>',
                        render: function (data, type, row, meta) {
                            if (data == "Possible Match") {
                                return '<i role="img" class="fas fa-code-branch fa-rotate-270 text-info" title="Matching Issue"></i>';
                            }
                            else {
                                return '<i role="img" class="fas fa-exclamation-triangle text-warning" title="Data Quality Issue"></i>';
                            }
                        }
                    },
                    {
                        targets: 3,
                        autoWidth: true,
                        data: 'studentId',
                        searchable: true,
                        defaultContent: '<i>Not set</i>'
                    },
                    {
                        targets: 4,
                        autoWidth: true,
                        data: 'enrollmentTerm',
                        searchable: true,
                        defaultContent: '<i>Not set</i>'
                    },
                    {
                        targets: 5,
                        autoWidth: true,
                        data: 'enrollmentCampus',
                        searchable: true,
                        defaultContent: '<i>Not set</i>'
                    },
                    {
                        targets: 6,
                        autoWidth: true,
                        data: 'errorCategories',
                        searchable: true,
                        defaultContent: '<i>Not set</i>'
                    },
                    {
                        targets: 7,
                        autoWidth: true,
                        data: 'systemName',
                        searchable: true,
                        defaultContent: '<i>Not set</i>'
                    },
                    {
                        targets: 8,
                        autoWidth: true,
                        data: 'integrationDate',
                        defaultContent: '<i>Not set</i>'
                    },
                    {
                        targets: 9,
                        autoWidth: true,
                        data: 'errorCount',
                        defaultContent: '<i>Not set</i>'
                    },
                    {
                        targets: 10,
                        className: 'hide',
                        data: 'none',
                        defaultContent: '<i>Not set</i>'
                    }
                ],
                "order": [
                    [8, "desc"]
                ],
                buttons: [
                    'excel', 'pdfHtml5', 'print'
                ],
            });

            $('#studentEnrollmentTable tbody').on('click', 'tr', function () {
                var table = $(studentTable).DataTable();
                var rowData = table.row(this).data();

                var url = (rowData.recordStatus == "Possible Match" ? '@Url.Action("StudentEnrollmentMatch", "Student")/' : '@Url.Action("StudentEnrollmentEdit", "Student")/') + rowData.id + '/' + rowData.systemId;

                window.location.href = url;
            });

            // Tooltips [Regular]
            //----------------------------------------------------

            var elButton = $('button, i, [title]');
            $(elButton).each(function (i, obj) {
                $(this).tooltip({
                    title: $(this).attr("title")
                    , container: 'body'
                    , placement: 'top'
                    , trigger: 'hover'
                    , html: 'true'
                });

                $('body').on('hidden.bs.tooltip', function () {
                    var tooltips = $('.tooltip').not('.in');
                    if (tooltips) {
                        tooltips.remove();
                    }
                });
            });
            $(elButton).each(function (i, obj) {
                $(this).tooltip({
                    title: $(this).attr("tooltip-title")
                    , container: 'body'
                    , placement: 'top'
                    , trigger: 'hover'
                });

                $('body').on('hidden.bs.tooltip', function () {
                    var tooltips = $('.tooltip').not('.in');
                    if (tooltips) {
                        tooltips.remove();
                    }
                });
            });

            // Tooltip Titles
            //----------------------
            $(".ellipsis[title]").each(function (i, obj) {

                $(this).tooltip({
                    title: $(this).attr("tooltip-title")
                    , container: 'body'
                    , placement: 'top'
                    , trigger: 'hover'
                });

                $('body').on('hidden.bs.tooltip', function () {
                    var tooltips = $('.tooltip').not('.in');
                    if (tooltips) {
                        tooltips.remove();
                    }
                });

            });

        };
    </script>
}
