@model Sentry.WebApp.ViewModels.StudentParentListViewModel

@{
    ViewData["Title"] = Model.Title;
}

<ul class="page-title">
    <li>
        <h1>
            @ViewData["Title"] Issues
        </h1>
    </li>
</ul>

<ol class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Sentry Home</a></li>
    <li><a asp-area="" asp-controller="Student" asp-action="Index">Student Dashboard</a></li>
    <li class="active">Record List</li>
</ol>

<div id="content-container" class="content-container" role="main">

    <div id="StudentParentTableSection" class="d-none">
        <div class="table-responsive">
            <table id="listTable" class="table table-hover table-striped studentParent recordList">
                <caption class="sr-only">List of Bad @Model.Title Records.</caption>
                <thead>
                    <tr class="tableHeader">
                        <th>Id</th>
                        <th>SystemId</th>
                        <th>Type</th>
                        <th>Parent</th>
                        <th>Student</th>
                        <th>Relationship</th>
                        <th>Error Categories</th>
                        <th>Data Source</th>
                        <th>Integration Date</th>
                        <th>Errors</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div id="ZeroInboxStudentParentSection" class="d-none">
        <h3><span title="for @Model.Title at least :)">You've achieved the ever-elusive 'Inbox ZERO'!</span></h3>
        <div class="inboxZero grid two-col-one-row">
            <aside class="child">
                <img class="pull-left" alt="Award Ribbon Image" title="Way to be Awesome!" src="~/img/award-ribbon.png" />
            </aside>
            <section class="child">
                <h4>Way to be <em title="You're Amazing!">awesome</em>, <span class="user-name">@Model.User</span>! &mdash; Congratulations on a job well done!  <i role="img" class="fa fa-thumbs-up"></i></h4>
                <h5>All the @Model.Title issues have been remediated!</h5>
                <h5>Do any of your teammates need help?</h5>
                <p><small class="text-muted">Maybe take a quick walk to stretch your legs? You deserve a break. :)</small></p>
            </section>
        </div>
    </div>


</div>

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/js/Student.js")"></script>
    <script>
        var getParentList = '@Url.Action("GetStudentParentList", "Student")';
        var studentParentMatchURL = '@Url.Action("StudentParentMatch", "Student")';
        var studentParentEditURL = '@Url.Action("StudentParentEdit", "Student")';
    </script>
}
