@model Sentry.WebApp.ViewModels.StudentMatchViewModel

@{
    ViewData["Title"] = Model.FirstName + " " + Model.LastName + " | " + Model.Title;
}

<ul class="page-title">
    <li>
        <h2>
            Date:
            <span title="Date of Integration: @Html.Raw(Model.CreatedOnDT.HasValue ? Model.CreatedOnDT.Value.ToString() : "N/A")"> @Html.Raw(Model.CreatedOnDT.HasValue ? Model.CreatedOnDT.Value.ToString("MM/dd/yyyy") : "N/A")</span>
        </h2>
    </li>
    <li>
        <h2>
            Source:
            <span title="Source System">@Html.Raw(Model.System ?? "N/A")</span>
        </h2>
    </li>
    <li>
        <h2>
            Source Record Id:
            <span title="Source System Record Id">@Html.Raw(Model.SourceRecordId ?? "N/A")</span>
        </h2>
    </li>
</ul>

<ol class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Sentry Home</a></li>
    <li><a asp-area="" asp-controller="Student" asp-action="Index">Student Dashboard</a></li>
    <li><a asp-area="" asp-controller="Student" asp-action="StudentList">Record List</a></li>
    <li class="active">Record Details</li>
</ol>

<form asp-action="StudentEdit" id="studentEditForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div id="content-container" class="content-container matching" role="main">

        <div class="panel panel-secondary">
            <div class="panel-heading">
                <h3 class="panel-title">@Model.Title for: <span class="record-text h3">@Model.FirstName @Model.MiddleName @Model.LastName</span></h3>
                <div class="panel-toolbar">
                    @*<a href="#officeLocationDataDetailSourceDataModal" class="btn btn-sm btn-link" target="_blank" data-toggle="modal" title="View Source Data" tabindex="-1"><i role="img" class="fas fa-database fa-sm">&nbsp;</i>Source Data</a>*@
                </div>
            </div>
            <div class="panel-body">

                <div class="col-sm-12 col-md-12 panel-container">
                    <div class="panel panel-secondary">
                        <div class="panel-heading">
                            <h4 class="panel-title">Match Criteria:</h4>
                            <div class="panel-toolbar">
                                <a class="btn btn-sm btn-link collapsed" role="button" data-toggle="collapse" href="#displayOnlyMore" aria-expanded="false" aria-controls="displayOnlyMore">
                                    <span class="if-collapsed"><i role="img" class="fas fa-caret-down fa-sm">&nbsp;</i> Expand Full Record</span>
                                    <span class="if-not-collapsed"><i role="img" class="fas fa-caret-up fa-sm">&nbsp;</i> Collapse Full Record</span>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body">

                            <div class="col-sm-12">
                                <dl class="dl-horizontal grid fifteenPercent">
                                    <dt>@Model.StudentId_BusinessName:</dt>
                                    <dd><span title="Match Weight: Exact Match">@Html.Raw(Model.StudentId ?? "&nbsp;")</span></dd>
                                    <dt>Full Name:</dt>
                                    <dd><span title="Match Weight: @Model.FirstName_Weight">@Html.Raw(Model.FirstName ?? "&nbsp;") @Html.Raw(Model.MiddleName ?? "&nbsp;") @Html.Raw(Model.LastName ?? "&nbsp;")</span></dd>
                                    <dt>@Model.PreferredName_BusinessName:</dt>
                                    <dd><span title="Match Weight: @Model.PreferredName_Weight">@Html.Raw(Model.PreferredName ?? "&nbsp;")</span></dd>
                                    <dt>@Model.MaidenName_BusinessName:</dt>
                                    <dd><span title="Match Weight: @Model.MaidenName_Weight">@Html.Raw(Model.MaidenName ?? "&nbsp;")</span></dd>
                                    <dt>@Model.BirthDate_BusinessName:</dt>
                                    <dd><span title="Match Weight: Exact Match">@Html.Raw(Model.BirthDate ?? "&nbsp;")</span></dd>
                                </dl>
                            </div>
                            
                            <div class="col-sm-12 collapse" id="displayOnlyMore">
                                <h4>Additional Information:</h4>
                                <dl class="dl-horizontal grid fifteenPercent">
                                    <dt>@Html.DisplayFor(m => m.CommonTitle_BusinessName):</dt>
                                    <dd>@Html.Raw(Model.CommonTitle ?? "&nbsp;")</dd>
                                    <dt>@Html.DisplayFor(m => m.DeceasedDate_BusinessName):</dt>
                                    <dd>@Html.Raw(Model.DeceasedDate ?? "&nbsp;")</dd>
                                    <dt>@Html.DisplayFor(m => m.Suffix_BusinessName):</dt>
                                    <dd>@Html.Raw(Model.Suffix ?? "&nbsp;")</dd>
                                    <dt>@Html.DisplayFor(m => m.MaritalStatus_BusinessName):</dt>
                                    <dd>@Html.Raw(Model.MaritalStatus ?? "&nbsp;")</dd>
                                    <dt>@Html.DisplayFor(m => m.CitizenshipCountry_BusinessName):</dt>
                                    <dd>@Html.Raw(Model.CitizenshipCountry ?? "&nbsp;")</dd>
                                    <dt>@Html.DisplayFor(m => m.InformationReleaseStatus_BusinessName):</dt>
                                    <dd>@Html.Raw(Model.InformationReleaseStatus ?? "&nbsp;")</dd>
                                    <dt>Discharged Term:</dt>
                                    <dd>@Html.Raw(Model.DischargedTerm ?? "&nbsp;")</dd>
                                    <dt>@Html.DisplayFor(m => m.EmailAddress1_BusinessName):</dt>
                                    <dd>@Html.Raw(Model.EmailAddress1 ?? "&nbsp;")</dd>
                                    <dt>@Html.DisplayFor(m => m.EmailAddress2_BusinessName):</dt>
                                    <dd>@Html.Raw(Model.EmailAddress2 ?? "&nbsp;")</dd>
                                </dl>
                            </div>

                        </div><!-- /.panel-body -->
                    </div><!-- /.panel-primary -->

                    <div class="panel panel-secondary matching">

                        <div class="panel-heading">
                            <h4 class="panel-title">Possible Matches:</h4>
                            <div class="panel-toolbar">
                                @*<input type="checkbox" id="one" name="one" checked />
                                    <label for="one">Enable Buttons</label>*@
                            </div>
                        </div>

                        <div class="panel-body">
                            <fieldset>
                                <legend class="sr-only">List of Possible Matches:</legend>
                                <div class="col-sm-12">
                                    <div id="loadStudentPossibleMatchListPartialContainer" class="table-responsive">
                                        <div class="center-block text-center" style="background-color: #fff; height: 3em; line-height: 2.25;" title="Loading Possible Matches...">
                                            <i class="fa fa-spin fa-asterisk fa-fw"></i> Loading Possible Matches...
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div><!-- /.panel-body -->

                        <div class="panel-footer text-right">
                            <a asp-area="" asp-controller="Student" asp-action="StudentList" class="btn btn-link pull-left" title="Cancel Matching, Back to Listing" data-toggle="tooltip"><i role="img" class="fas fa-times">&nbsp;</i>Cancel</a>
                            <button type="button" id="noMatchButton" class="btn btn-info" title="Submit as New Record" data-toggle="tooltip"><i role="img" class="fas fa-ban">&nbsp;</i>No Matching Records</button>
                            <button type="button" id="compareButton" class="btn btn-default" title="Compare records" data-toggle="modal" data-target="#studentMatchCompareModal" disabled="disabled"><i role="img" class="fal fa-columns">&nbsp;</i>Compare Records</button>
                            <button type="button" id="matchButton" class="btn btn-primary" title="Match this record" data-toggle="tooltip" disabled="disabled"><i role="img" class="fas fa-check">&nbsp;</i>Match Record</button>
                        </div><!-- /.panel-footer -->

                    </div><!-- /.panel-primary -->
                </div><!-- /.panel-container -->

            </div><!-- /.panel-body -->

        </div><!-- /.panel-secondary -->
    </div><!-- /.content-container -->
    <!-- Modal - Compare Record -->
    <div class="modal fade" id="studentMatchCompareModal" tabindex="-1" role="dialog" aria-labelledby="studentMatchCompareModal studentMatchCompareModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div id="studentMatchCompareModalLabel" class="modal-content">
                <div class="center-block text-center" style="background-color: #fff; border: 5px solid #ccc; height: 3em; line-height: 1.5em;">
                    <img alt="Image" title="Loading..." src="~/img/throbber.gif" /> Loading Comparisons...
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</form>

@section scripts {
<script>

    $(document).ready(function () {

        $.get('@Url.Action("GetPossibleMatchList", "Student", new { Id = Model.Id, SystemId = Model.SystemId })', function (data) {
            $("#loadStudentPossibleMatchListPartialContainer").html(data);
        });


        // Match button click event:
        $('#matchButton').on('click', function () {
            Match(window.rowIdValue);
        });

        // No Match button click event:
        $('#noMatchButton').on('click', function () {
            Match(null);
        });

        // Compare button click event:
        $('#compareButton').on('click', function () {
            Compare(window.rowIdValue);
        });


        function Match(data) {
            var urlMatch = '@Url.Action("StudentManualMatch", "Student", new { Id = Model.Id, SystemId = Model.SystemId, IntegrationId = Model.IntegrationId })' + (data == null ? '' : '&MasterId=' + data);
            window.location.href = urlMatch;
        }

        function Compare(data) {
            var urlCompare = '@Url.Action("StudentCompare", "Student", new { Id = Model.Id, SystemId = Model.SystemId })' + '?MasterId=' + data
            $.get(urlCompare, function (data) {
                $(".modal-content").html(data);
            });
        }


        // Ellipsis
        // ---------------------------------------------------------------------
        //$(document).on('mouseover', 'dl.grid dt', function () {
        //    if ($(this).css('text-overflow') && typeof $(this).attr('title') === 'undefined') {
        //        var titleValue = $(this).attr('title');
        //        console.log('Title Value: ' + titleValue);
        //        //$(this).attr('title', $(this).text());
        //    }
        //});

    });

</script>
}
