@model Sentry.WebApp.ViewModels.StudentEnrollmentCompareViewModel

<!-- Modal - Compare Record -->
<div class="modal-header">
    <h3 class="modal-title" id="studentEnrollmentMatchCompareModalLabel">Compare Records for: <span class="record-text h3">@Model.EnrollmentAcademicProgram</span></h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-toggle="tooltip" title="Close"><i aria-hidden="true" class="ua-brand-x"></i></button>
</div>
<div class="modal-body">
    <div class="panel-toolbar">
        <span class="integrationDate"><strong>Integration Date:</strong>&nbsp;@Html.DisplayFor(m => m.IntegrationDate)</span>
        <span class="sourceSystem"><strong>Source System:</strong>&nbsp;@Html.DisplayFor(m => m.System)</span>
    </div>
    <div class="row matching">
        <div class="col-sm-12 col-md-6">
            <h5><strong>System Record Id:</strong>&nbsp;@Html.DisplayFor(m => m.SourceRecordId)</h5>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Integration Record</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>@Html.DisplayFor(m => m.EnrollmentAcademicYear_BusinessName):</dt>
                        <dd>@Html.DisplayFor(m => m.EnrollmentAcademicYear)</dd>
                        <dt>@Html.DisplayFor(m => m.EnrollmentTerm_BusinessName):</dt>
                        <dd>@Html.DisplayFor(m => m.EnrollmentTerm)</dd>
                        <dt>@Html.DisplayFor(m => m.EnrollmentCampus_BusinessName):</dt>
                        <dd>@Html.DisplayFor(m => m.EnrollmentCampus)</dd>
                        <dt>@Html.DisplayFor(m => m.EnrollmentLocation_BusinessName):</dt>
                        <dd>@Html.DisplayFor(m => m.EnrollmentLocation)</dd>
                        <dt>@Html.DisplayFor(m => m.EnrollmentTotalCumulativeUnits_BusinessName):</dt>
                        <dd>@Html.DisplayFor(m => m.EnrollmentTotalCumulativeUnits)</dd>
                        <dt>@Html.DisplayFor(m => m.EnrollmentAcademicCareer_BusinessName):</dt>
                        <dd>@Html.DisplayFor(m => m.EnrollmentAcademicCareer)</dd>
                        <dt>@Html.DisplayFor(m => m.EnrollmentAcademicLevel_BusinessName):</dt>
                        <dd>@Html.DisplayFor(m => m.EnrollmentAcademicLevel)</dd>
                        <dt>@Html.DisplayFor(m => m.EnrollmentAcademicProgram_BusinessName):</dt>
                        <dd>@Html.DisplayFor(m => m.EnrollmentAcademicProgram)</dd>
                        <dt>@Html.DisplayFor(m => m.EnrollmentAcademicPlan_BusinessName):</dt>
                        <dd>@Html.DisplayFor(m => m.EnrollmentAcademicPlan)</dd>
                        <dt>@Html.DisplayFor(m => m.EnrollmentAcademicPlanType_BusinessName):</dt>
                        <dd>@Html.DisplayFor(m => m.EnrollmentAcademicPlanType)</dd>
                        <dt>@Html.DisplayFor(m => m.EnrollmentAcademicSubplan_BusinessName):</dt>
                        <dd>@Html.DisplayFor(m => m.EnrollmentAcademicSubplan)</dd>
                        <dt>@Html.DisplayFor(m => m.EnrollmentAcademicSubplanType_BusinessName):</dt>
                        <dd>@Html.DisplayFor(m => m.EnrollmentAcademicSubplanType)</dd>
                    </dl>
                </div>
            </div><!-- /.panel-* -->
        </div><!-- /.col-* -->
        <div class="col-sm-12 col-md-6">
            <h5><strong>System Record Id:</strong>&nbsp;@Html.DisplayFor(m => m.SourceRecordId_Compare)</h5>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Compare Record</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>@Html.DisplayFor(m => m.EnrollmentAcademicYear_BusinessName):</dt>
                        <dd>@Html.DisplayFor(m => m.EnrollmentAcademicYear_Compare)</dd>
                        <dt>@Html.DisplayFor(m => m.EnrollmentTerm_BusinessName):</dt>
                        <dd>@Html.DisplayFor(m => m.EnrollmentTerm_Compare)</dd>
                        <dt>@Html.DisplayFor(m => m.EnrollmentCampus_BusinessName):</dt>
                        <dd>@Html.DisplayFor(m => m.EnrollmentCampus_Compare)</dd>
                        <dt>@Html.DisplayFor(m => m.EnrollmentLocation_BusinessName):</dt>
                        <dd>@Html.DisplayFor(m => m.EnrollmentLocation_Compare)</dd>
                        <dt>@Html.DisplayFor(m => m.EnrollmentTotalCumulativeUnits_BusinessName):</dt>
                        <dd>@Html.DisplayFor(m => m.EnrollmentTotalCumulativeUnits_Compare)</dd>
                        <dt>@Html.DisplayFor(m => m.EnrollmentAcademicCareer_BusinessName):</dt>
                        <dd>@Html.DisplayFor(m => m.EnrollmentAcademicCareer_Compare)</dd>
                        <dt>@Html.DisplayFor(m => m.EnrollmentAcademicLevel_BusinessName):</dt>
                        <dd>@Html.DisplayFor(m => m.EnrollmentAcademicLevel_Compare)</dd>
                        <dt>@Html.DisplayFor(m => m.EnrollmentAcademicProgram_BusinessName):</dt>
                        <dd>@Html.DisplayFor(m => m.EnrollmentAcademicProgram_Compare)</dd>
                        <dt>@Html.DisplayFor(m => m.EnrollmentAcademicPlan_BusinessName):</dt>
                        <dd>@Html.DisplayFor(m => m.EnrollmentAcademicPlan_Compare)</dd>
                        <dt>@Html.DisplayFor(m => m.EnrollmentAcademicPlanType_BusinessName):</dt>
                        <dd>@Html.DisplayFor(m => m.EnrollmentAcademicPlanType_Compare)</dd>
                        <dt>@Html.DisplayFor(m => m.EnrollmentAcademicSubplan_BusinessName):</dt>
                        <dd>@Html.DisplayFor(m => m.EnrollmentAcademicSubplan_Compare)</dd>
                        <dt>@Html.DisplayFor(m => m.EnrollmentAcademicSubplanType_BusinessName):</dt>
                        <dd>@Html.DisplayFor(m => m.EnrollmentAcademicSubplanType_Compare)</dd>
                    </dl>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-link no-match text-left" data-dismiss="modal" data-toggle="tooltip" title="Not a Match"><i role="img" class="fas fa-times">&nbsp;</i> Not a Match</button>
                    <button type="submit" class="btn btn-primary match pull-right" title="Match this Record" formaction="@Url.Action("StudentEnrollmentManualMatch", "Student", new { Id = Model.Id, IntegrationId = Model.IntegrationId, SystemId = Model.SystemId, MasterId = Model.MasterId })"><i role="img" class="fas fa-check">&nbsp;</i> Match!</button>
                </div>
            </div><!-- /.panel-* -->
        </div><!-- /.col-* -->
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-link pull-left" data-dismiss="modal" data-toggle="tooltip" title="Cancel"><i role="img" class="fas fa-times">&nbsp;</i> Cancel</button>
    @*<button type="button" class="btn btn-primary pull-right" data-dismiss="modal" data-toggle="tooltip" title="Close"><i role="img" class="fas fa-times">&nbsp;</i> Close</button>*@
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            // Tooltip Titles
            //----------------------
            $(".ellipsis[title]").each(function (i, obj) {

                $(this).tooltip({
                    title: $(this).attr("tooltip-title")
                    , container: 'body'
                    , placement: 'top'
                    , trigger: 'hover'
                });

                $('body').on('hidden.bs.tooltip', function () {
                    var tooltips = $('.tooltip').not('.in');
                    if (tooltips) {
                        tooltips.remove();
                    }
                });

            });

        });
    </script>
}
