@model Sentry.WebApp.ViewModels.StudentCompareViewModel
@using Sentry.WebApp.Extensions;

<!-- Modal - Compare Record -->
<div class="modal-header">
    <h3 class="modal-title" id="studentMatchCompareModalLabel">Compare Records for: <span class="record-text h3">@Model.LastName, @Model.FirstName</span></h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-toggle="tooltip" title="Close"><i aria-hidden="true" class="ua-brand-x"></i></button>
</div>
<div class="modal-body">
    <div class="panel-toolbar">
        <span class="integrationDate"><strong>Integration Date:</strong>&nbsp;@Html.DisplayFor(m => m.IntegrationDate)</span>
        <span class="sourceSystem"><strong>Source System:</strong>&nbsp;@Html.DisplayFor(m => m.System)</span>
    </div>
    <div class="row matching">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">@Html.Raw(Model.System ?? " Source " + @Model.System) Record: </h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal grid twentyFivePercent">
                        <dt data-different="@(Model.FirstName_IsDifferent.ToString())">First Name:</dt>
                        <dd data-different="@(Model.FirstName_IsDifferent.ToString())">@Html.Raw(Model.FirstName ?? "&nbsp;")</dd>
                        <dt data-different="@(Model.PreferredName_IsDifferent.ToString())">Preferred Name:</dt>
                        <dd data-different="@(Model.PreferredName_IsDifferent.ToString())">@Html.Raw(Model.PreferredName ?? "&nbsp;")</dd>
                        <dt data-different="@(Model.MiddleName_IsDifferent.ToString())">Middle Name:</dt>
                        <dd data-different="@(Model.MiddleName_IsDifferent.ToString())">@Html.Raw(Model.MiddleName ?? "&nbsp;")</dd>
                        <dt data-different="@(Model.LastName_IsDifferent.ToString())">Last Name:</dt>
                        <dd data-different="@(Model.LastName_IsDifferent.ToString())">@Html.Raw(Model.LastName ?? "&nbsp;")</dd>
                        <dt data-different="@(Model.MaidenName_IsDifferent.ToString())">Maiden Name:</dt>
                        <dd data-different="@(Model.MaidenName_IsDifferent.ToString())">@Html.Raw(Model.MaidenName ?? "&nbsp;")</dd>
                        <dt data-different="@(Model.StudentId_IsDifferent.ToString())">@Html.DisplayFor(m => m.StudentId_BusinessName):</dt>
                        <dd data-different="@(Model.StudentId_IsDifferent.ToString())">@Html.Raw(Model.StudentId ?? "&nbsp;")</dd>
                        <dt data-different="@(Model.StudentTitle_IsDifferent.ToString())">@Html.DisplayFor(m => m.StudentTitle_BusinessName):</dt>
                        <dd data-different="@(Model.StudentTitle_IsDifferent.ToString())">@Html.Raw(Model.StudentTitle ?? "&nbsp;")</dd>
                        <dt data-different="@(Model.Suffix_IsDifferent.ToString())">@Html.DisplayFor(m => m.Suffix_BusinessName):</dt>
                        <dd data-different="@(Model.Suffix_IsDifferent.ToString())">@Html.Raw(Model.Suffix ?? "&nbsp;")</dd>
                        <dt data-different="@(Model.BirthDate_IsDifferent.ToString())">@Html.DisplayFor(m => m.BirthDate_BusinessName):</dt>
                        <dd data-different="@(Model.BirthDate_IsDifferent.ToString())">@Html.Raw(Model.BirthDate ?? "&nbsp;")</dd>
                        <dt data-different="@(Model.DeceasedDate_IsDifferent.ToString())">@Html.DisplayFor(m => m.DeceasedDate_BusinessName):</dt>
                        <dd data-different="@(Model.DeceasedDate_IsDifferent.ToString())">@Html.Raw(Model.DeceasedDate ?? "&nbsp;")</dd>
                        <dt data-different="@(Model.MaritalStatus_IsDifferent.ToString())">@Html.DisplayFor(m => m.MaritalStatus_BusinessName):</dt>
                        <dd data-different="@(Model.MaritalStatus_IsDifferent.ToString())">@Html.Raw(Model.MaritalStatus ?? "&nbsp;")</dd>
                        <dt data-different="@(Model.InformationReleaseStatus_IsDifferent.ToString())" title="@Html.DisplayFor(m => m.InformationReleaseStatus_BusinessName)">@Html.DisplayFor(m => m.InformationReleaseStatus_BusinessName):</dt>
                        <dd data-different="@(Model.InformationReleaseStatus_IsDifferent.ToString())">@Html.Raw(Model.InformationReleaseStatus ?? "&nbsp;")</dd>
                        <dt data-different="@(Model.CitizenshipCountry_IsDifferent.ToString())">@Html.DisplayFor(m => m.CitizenshipCountry_BusinessName):</dt>
                        <dd data-different="@(Model.CitizenshipCountry_IsDifferent.ToString())">@Html.Raw(Model.CitizenshipCountry ?? "&nbsp;")</dd>
                        <dt data-different="@(Model.Discharged_IsDifferent.ToString())">@Html.DisplayFor(m => m.Discharged_BusinessName):</dt>
                        <dd data-different="@(Model.Discharged_IsDifferent.ToString())">@Html.Raw(Model.Discharged ?? "&nbsp;")</dd>
                        <dt data-different="@(Model.EmailAddress1_IsDifferent.ToString())">@Html.DisplayFor(m => m.EmailAddress1_BusinessName):</dt>
                        <dd data-different="@(Model.EmailAddress1_IsDifferent.ToString())">@Html.Raw(Model.EmailAddress1 ?? "&nbsp;")</dd>
                        <dt data-different="@(Model.EmailAddress2_IsDifferent.ToString())">@Html.DisplayFor(m => m.EmailAddress2_BusinessName):</dt>
                        <dd data-different="@(Model.EmailAddress2_IsDifferent.ToString())">@Html.Raw(Model.EmailAddress2 ?? "&nbsp;")</dd>
                    </dl>
                </div>
            </div><!-- /.panel-* -->
        </div><!-- /.col-* -->
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">MDS Record: </h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal grid twentyFivePercent">
                        <dt data-different="@(Model.FirstName_IsDifferent.ToString())" title="@Html.DisplayFor(m => m.FirstName_BusinessName)">
                            First Name:
                        </dt>
                            <dd data-different="@(Model.FirstName_IsDifferent.ToString())">
                                @Html.Raw(Model.FirstName_Compare ?? "&nbsp;")
                            </dd>
                        <dt data-different="@(Model.PreferredName_IsDifferent.ToString())" title="@Html.DisplayFor(m => m.PreferredName_BusinessName)">
                            Preferred Name:
                        </dt>
                            <dd data-different="@(Model.PreferredName_IsDifferent.ToString())">
                                @Html.Raw(Model.PreferredName_Compare ?? "&nbsp;")
                            </dd>
                        <dt data-different="@(Model.MiddleName_IsDifferent.ToString())" title="@Html.DisplayFor(m => m.MiddleName_BusinessName)">
                            Middle Name:
                        </dt>
                            <dd data-different="@(Model.MiddleName_IsDifferent.ToString())">
                                @Html.Raw(Model.MiddleName_Compare ?? "&nbsp;")
                            </dd>
                        <dt data-different="@(Model.LastName_IsDifferent.ToString())" title="@Html.DisplayFor(m => m.LastName_BusinessName)">
                            Last Name:
                        </dt>
                            <dd data-different="@(Model.LastName_IsDifferent.ToString())">
                                @Html.Raw(Model.LastName_Compare ?? "&nbsp;")
                            </dd>
                        <dt data-different="@(Model.MaidenName_IsDifferent.ToString())" title="@Html.DisplayFor(m => m.MaidenName_BusinessName)">
                            Maiden Name:
                        </dt>
                            <dd data-different="@(Model.MaidenName_IsDifferent.ToString())">
                                @Html.Raw(Model.MaidenName_Compare ?? "&nbsp;")
                            </dd>
                        <dt data-different="@(Model.StudentId_IsDifferent.ToString())" title="@Html.DisplayFor(m => m.StudentId_BusinessName)">
                            @Html.DisplayFor(m => m.StudentId_BusinessName):
                        </dt>
                            <dd data-different="@(Model.StudentId_IsDifferent.ToString())">
                                @Html.Raw(Model.StudentId_Compare ?? "&nbsp;")
                            </dd>
                        <dt data-different="@(Model.StudentTitle_IsDifferent.ToString())" title="@Html.DisplayFor(m => m.StudentTitle_BusinessName)">
                            @Html.DisplayFor(m => m.StudentTitle_BusinessName):
                        </dt>
                            <dd data-different="@(Model.StudentTitle_IsDifferent.ToString())">
                                @Html.Raw(Model.StudentTitle_Compare ?? "&nbsp;")
                            </dd>
                        <dt data-different="@(Model.Suffix_IsDifferent.ToString())" title="@Html.DisplayFor(m => m.Suffix_BusinessName)">
                            @Html.DisplayFor(m => m.Suffix_BusinessName):
                        </dt>
                            <dd data-different="@(Model.Suffix_IsDifferent.ToString())">
                                @Html.Raw(Model.Suffix_Compare ?? "&nbsp;")
                            </dd>
                        <dt data-different="@(Model.BirthDate_IsDifferent.ToString())" title="@Html.DisplayFor(m => m.BirthDate_BusinessName)">
                            @Html.DisplayFor(m => m.BirthDate_BusinessName):
                        </dt>
                            <dd data-different="@(Model.BirthDate_IsDifferent.ToString())">
                                @Html.Raw(Model.BirthDate_Compare ?? "&nbsp;")
                            </dd>
                        <dt data-different="@(Model.DeceasedDate_IsDifferent.ToString())" title="@Html.DisplayFor(m => m.DeceasedDate_BusinessName)">
                            @Html.DisplayFor(m => m.DeceasedDate_BusinessName):
                        </dt>
                            <dd data-different="@(Model.DeceasedDate_IsDifferent.ToString())">
                                @Html.Raw(Model.DeceasedDate_Compare ?? "&nbsp;")
                            </dd>
                        <dt data-different="@(Model.MaritalStatus_IsDifferent.ToString())" title="@Html.DisplayFor(m => m.MaritalStatus_BusinessName)">
                            @Html.DisplayFor(m => m.MaritalStatus_BusinessName):
                        </dt>
                            <dd data-different="@(Model.MaritalStatus_IsDifferent.ToString())">
                                @Html.Raw(Model.MaritalStatus_Compare ?? "&nbsp;")
                            </dd>
                        <dt data-different="@(Model.InformationReleaseStatus_IsDifferent.ToString())" title="@Html.DisplayFor(m => m.InformationReleaseStatus_BusinessName)">
                            @Html.DisplayFor(m => m.InformationReleaseStatus_BusinessName):
                        </dt>
                            <dd data-different="@(Model.InformationReleaseStatus_IsDifferent.ToString())">
                                @Html.Raw(Model.InformationReleaseStatus_Compare ?? "&nbsp;")
                            </dd>
                        <dt data-different="@(Model.CitizenshipCountry_IsDifferent.ToString())" title="@Html.DisplayFor(m => m.CitizenshipCountry_BusinessName)">
                            @Html.DisplayFor(m => m.CitizenshipCountry_BusinessName):
                        </dt>
                            <dd data-different="@(Model.CitizenshipCountry_IsDifferent.ToString())">
                                @Html.Raw(Model.CitizenshipCountry_Compare ?? "&nbsp;")
                            </dd>
                        <dt data-different="@(Model.Discharged_IsDifferent.ToString())" title="@Html.DisplayFor(m => m.Discharged_BusinessName)">
                            @Html.DisplayFor(m => m.Discharged_BusinessName):
                        </dt>
                            <dd data-different="@(Model.Discharged_IsDifferent.ToString())">
                                @Html.Raw(Model.Discharged_Compare ?? "&nbsp;")
                            </dd>
                        <dt data-different="@(Model.EmailAddress1_IsDifferent.ToString())" title="@Html.DisplayFor(m => m.EmailAddress1_BusinessName)">
                            @Html.DisplayFor(m => m.EmailAddress1_BusinessName):
                        </dt>
                            <dd data-different="@(Model.EmailAddress1_IsDifferent.ToString())">
                                @Html.Raw(Model.EmailAddress1_Compare ?? "&nbsp;")
                            </dd>
                        <dt data-different="@(Model.EmailAddress2_IsDifferent.ToString())" title="@Html.DisplayFor(m => m.EmailAddress2_BusinessName)">
                            @Html.DisplayFor(m => m.EmailAddress2_BusinessName):
                        </dt>
                            <dd data-different="@(Model.EmailAddress2_IsDifferent.ToString())">
                                @Html.Raw(Model.EmailAddress2_Compare ?? "&nbsp;")
                                <!-- Wrap these two divs in an IF statement - checking if there are any additional emails to display. -->
                                @*<div class="panel-toolbar pull-right">
                                    <a class="btn btn-xs btn-default collapsed" role="button" data-toggle="collapse" href="#displayMoreEmails" aria-expanded="false" aria-controls="displayMoreEmails">
                                        <span class="if-collapsed" title="View all @Html.DisplayFor(m => m.EmailAddress2_BusinessName) Email Addresses"><i role="img" class="fas fa-caret-down fa-sm">&nbsp;</i> Expand</span>
                                        <span class="if-not-collapsed" title="Hide all @Html.DisplayFor(m => m.EmailAddress2_BusinessName) Email Addresses"><i role="img" class="fas fa-caret-up fa-sm">&nbsp;</i> Collapse</span>
                                    </a>
                                </div>
                                <div id="displayMoreEmails" class="collapse clearfix">
                                    <ul class="">
                                        <li>EmailAddress1</li>
                                        <li>EmailAddress2</li>
                                    </ul>
                                </div>*@
                            </dd>
                    </dl>

                    @if (Model.SystemRecords != null)
                    {
                        <hr />
                        <dl>
                            @foreach (var systemRecord in Model.SystemRecords)
                            {
                                <dt>Source System: <strong>@systemRecord.SystemName</strong></dt>
                                <dd><a href="@Model.SourceRecordUrl(systemRecord.SystemName, systemRecord.SystemRecordId, Model.IntegrationName)" title="View in @systemRecord.SystemName" target="_blank">@systemRecord.SystemRecordId</a></dd>
                            }
                        </dl>
                    }

                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-link no-match text-left" data-dismiss="modal" data-toggle="tooltip" title="Not a Match"><i role="img" class="fas fa-times">&nbsp;</i> Not a Match</button>
                    <button type="submit" class="btn btn-primary match pull-right" title="Match this Record" formaction="@Url.Action("StudentManualMatch", "Student", new { Id = Model.Id, IntegrationId = Model.IntegrationId, SystemId = Model.SystemId, MasterId = Model.MasterId })"><i role="img" class="fas fa-check">&nbsp;</i> Match!</button>
                </div>
            </div><!-- /.panel-* -->
        </div><!-- /.col-* -->
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-link pull-left" data-dismiss="modal" data-toggle="tooltip" title="Cancel"><i role="img" class="fas fa-times">&nbsp;</i> Cancel</button>
    @*<button type="button" class="btn btn-primary pull-right" data-dismiss="modal" data-toggle="tooltip" title="Close"><i role="img" class="fas fa-times">&nbsp;</i> Close</button>*@
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {



        });
    </script>
}
