@model Sentry.WebApp.ViewModels.EmployeeMatchViewModel

@{
    ViewData["Title"] = Model.FirstName + " " + Model.LastName + " | " + Model.Title;
}

<ul class="page-title">
    <li>
        <h2>
            Date:
            <span title="Date of Integration: @Html.Raw(Model.CreatedOnDT.HasValue ? Model.CreatedOnDT.Value.ToString() : "N/A")"> @Html.Raw(Model.CreatedOnDT.HasValue ? Model.CreatedOnDT.Value.ToString("MM/dd/yyyy") : "N/A")</span>
        </h2>
    </li>
    <li>
        <h2>
            Source:
            <span title="Source System">@Html.Raw(Model.System ?? "N/A")</span>
        </h2>
    </li>
    <li>
        <h2>
            Source Record Id:
            <span title="Source System Record Id">@Html.Raw(Model.SourceRecordId ?? "N/A")</span>
        </h2>
    </li>
</ul>

<ol class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a></li>
    <li><a asp-area="" asp-controller="Employee" asp-action="EmployeeList">Record List</a></li>
    <li class="active">Record Details</li>
</ol>

<form asp-action="EmployeeEdit" id="employeeEditForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div id="content-container" class="content-container matching" role="main">

        <div class="panel panel-secondary">
            <div class="panel-heading">
                <h3 class="panel-title">@Model.Title for: <span class="record-text h3">@Model.FirstName @Model.MiddleName @Model.LastName</span></h3>
                <div class="panel-toolbar">
                    @*<a href="#officeLocationDataDetailSourceDataModal" class="btn btn-sm btn-link" target="_blank" data-toggle="modal" title="View Source Data" tabindex="-1"><i role="img" class="fas fa-database fa-sm">&nbsp;</i>Source Data</a>*@
                </div>
            </div>
            <div class="panel-body">

                <div class="col-sm-12 col-md-12 panel-container">
                    <div class="panel panel-secondary">
                        <div class="panel-heading">
                            <h4 class="panel-title">Match Criteria:</h4>
                            <div class="panel-toolbar">
                                <a class="btn btn-sm btn-link collapsed" role="button" data-toggle="collapse" href="#displayOnlyMore" aria-expanded="false" aria-controls="displayOnlyMore">
                                    <span class="if-collapsed"><i role="img" class="fas fa-caret-down fa-sm">&nbsp; </i>Expand Full Record</span>
                                    <span class="if-not-collapsed"><i role="img" class="fas fa-caret-up fa-sm">&nbsp; </i>Collapse Full Record</span>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body">

                            <div class="col-sm-12">
                                <dl class="dl-horizontal grid fifteenPercent">
                                    <dt>Full Name:</dt>
                                    <dd><span title="Match Weight: @Model.FirstName_Weight">@Html.Raw(Model.FirstName ?? "&nbsp;") @Html.Raw(Model.MiddleName ?? "&nbsp;") @Html.Raw(Model.LastName ?? "&nbsp;")</span></dd>
                                    <dt>@Model.UAPersonId_BusinessName:</dt>
                                    <dd><span title="Match Weight: Exact Match">@Html.Raw(Model.UAPersonId ?? "&nbsp;")</span></dd>
                                    <dt>@Model.DateOfBirth_BusinessName:</dt>
                                    <dd><span title="Match Weight: @Model.DateOfBirth_Weight">@Html.Raw(Model.DateOfBirth ?? "&nbsp;")</span></dd>
                                </dl>
                            </div>

                            <div class="col-sm-12 collapse" id="displayOnlyMore">
                                <h4>Additional Information:</h4>
                                <dl class="dl-horizontal grid fifteenPercent">
                                    <dt>Preferred Name:</dt>
                                    <dd>@Html.Raw(Model.PreferredName ?? "&nbsp;")</dd>
                                    <dt>@Html.DisplayFor(m => m.EmployeeTitle_BusinessName):</dt>
                                    <dd>@Html.Raw(Model.EmployeeTitle ?? "&nbsp;")</dd>
                                    <dt>@Html.DisplayFor(m => m.HireDate_BusinessName):</dt>
                                    <dd>@Html.Raw(Model.HireDate ?? "&nbsp;")</dd>
                                    <dt>@Html.DisplayFor(m => m.TerminationDate_BusinessName):</dt>
                                    <dd>@Html.Raw(Model.TerminationDate ?? "&nbsp;")</dd>
                                    <dt>@Html.DisplayFor(m => m.OrganizationName_BusinessName):</dt>
                                    <dd>@Html.Raw(Model.OrganizationName ?? "&nbsp;")</dd>
                                    <dt>@Html.DisplayFor(m => m.EmployeeType_BusinessName)</dt>
                                    <dd>@Html.Raw(Model.EmployeeType ?? "&nbsp;")</dd>
                                    <dt>@Html.DisplayFor(m => m.EmailAddress1_BusinessName):</dt>
                                    <dd>@Html.Raw(Model.EmailAddress1 ?? "&nbsp;")</dd>
                                    <dt>@Html.DisplayFor(m => m.EmailAddress2_BusinessName):</dt>
                                    <dd>@Html.Raw(Model.EmailAddress2 ?? "&nbsp;")</dd>
                                    <dt>@Html.DisplayFor(m => m.NetId_BusinessName):</dt>
                                    <dd>@Html.Raw(Model.NetId ?? "&nbsp;")</dd>
                                </dl>
                            </div>

                        </div><!-- /.panel-body -->
                    </div><!-- /.panel-primary -->

                    <div class="panel panel-secondary matching">

                        <div class="panel-heading">
                            <h4 class="panel-title">Possible Matches:</h4>
                            <div class="panel-toolbar">
                                @*<input type="checkbox" id="one" name="one" checked />
                                    <label for="one">Enable Buttons</label>*@
                            </div>
                        </div>

                        <div class="panel-body">
                            <fieldset>
                                <legend class="sr-only">List of Possible Matches:</legend>
                                <div class="col-sm-12">
                                    <div id="loadEmployeePossibleMatchListPartialContainer" class="table-responsive">
                                        <div class="center-block text-center" style="background-color: #fff; height: 3em;" title="Loading Possible Matches...">
                                            <i class="fa fa-spin fa-asterisk fa-fw"></i> Loading Possible Matches...
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div><!-- /.panel-body -->

                        <div class="panel-footer text-right">
                            <a asp-area="" asp-controller="Employee" asp-action="EmployeeList" class="btn btn-link pull-left" title="Cancel Matching, Back to Listing" data-toggle="tooltip"><i role="img" class="fas fa-times">&nbsp;</i>Cancel</a>
                            <button type="button" id="noMatchButton" class="btn btn-info" title="Submit as New Record" data-toggle="tooltip"><i role="img" class="fas fa-ban">&nbsp;</i>No Matching Records</button>
                            <button type="button" id="compareButton" class="btn btn-default" title="Compare records" data-toggle="modal" data-target="#employeeMatchCompareModal" disabled="disabled"><i role="img" class="fal fa-columns">&nbsp;</i>Compare Records</button>
                            <button type="button" id="matchButton" class="btn btn-primary" title="Match this record" data-toggle="tooltip" disabled="disabled"><i role="img" class="fas fa-check">&nbsp;</i>Match Record</button>
                        </div><!-- /.panel-footer -->

                    </div><!-- /.panel-primary -->
                </div><!-- /.panel-container -->

            </div><!-- /.panel-body -->

        </div><!-- /.panel-secondary -->
    </div><!-- /.content-container -->
    <!-- Modal - Compare Record -->
    <div class="modal fade" id="employeeMatchCompareModal" tabindex="-1" role="dialog" aria-labelledby="employeeMatchCompareModal employeeMatchCompareModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div id="employeeMatchCompareModalLabel" class="modal-content">
                <div class="center-block text-center" style="background-color: #fff; border: 5px solid #ccc;">
                    <img alt="Image" title="Loading..." src="~/img/throbber.gif" /> Loading...
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</form>

@section scripts {
    <script>
        $(document).ready(function () {

            $.get('@Url.Action("GetPossibleMatchList", "Employee", new { Id = Model.Id, SystemId = Model.SystemId })', function (data) {
                $("#loadEmployeePossibleMatchListPartialContainer").html(data);
            });


            // Match button click event:
            $('#matchButton').on('click', function () {
                Match(window.rowIdValue);
            });

            // No Match button click event:
            $('#noMatchButton').on('click', function () {
                Match(null);
            });

            // Compare button click event:
            $('#compareButton').on('click', function () {
                Compare(window.rowIdValue);
            });


            function Match(data) {
                var urlMatch = '@Url.Action("EmployeeManualMatch", "Employee", new { Id = Model.Id, SystemId = Model.SystemId, IntegrationId = Model.IntegrationId })' + (data == null ? '' : '&MasterId=' + data);
                window.location.href = urlMatch;
            }

            function Compare(data) {
                var urlCompare = '@Url.Action("EmployeeCompare", "Employee", new { Id = Model.Id, SystemId = Model.SystemId })' + '?MasterId=' + data
                $.get(urlCompare, function (data) {
                    $(".modal-content").html(data);
                });
            }



            // Tooltip Titles
            //----------------------
            $(".ellipsis[title]").each(function (i, obj) {

                $(this).tooltip({
                    title: $(this).attr("tooltip-title")
                    , container: 'body'
                    , placement: 'top'
                    , trigger: 'hover'
                });

                $('body').on('hidden.bs.tooltip', function () {
                    var tooltips = $('.tooltip').not('.in');
                    if (tooltips) {
                        tooltips.remove();
                    }
                });

            });

        });
    </script>
}
