@model Sentry.WebApp.ViewModels.GiftDisbursements.GiftDisbursementsViewModel

<table id="ApproversTable" class="table approvers">
    <thead>
        <tr>
            <th class="col-md-2">Approver</th>
            <th class="col-md-2">Approver Type</th>
            <th class="col-md-2">Approved On</th>
            <th class="col-md-6">Comments</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var approver in Model.Approvers)
        {
        <tr>
            <td>@approver.Name</td>
            <td>@approver.Type</td>
            @if (approver.ApprovedOn == DateTime.MinValue)
            {
                <td></td>
            }
            else
            {
                if (approver.Approved == true)
                {
                        <td><i class="fa fa-circle-check" title="Approved by @approver.Name, on @approver.ApprovedOn.ToString("MM/dd/yyyy HH:mm tt")"></i> @approver.ApprovedOn.ToString("MM/dd/yyyy HH:mm tt")</td>

                }
                else
                {
                        <td><i class="rejectedStatus fa fa-exclamation-triangle text-danger" title="Rejected by @approver.Name, on @approver.ApprovedOn.ToString("MM/dd/yyyy HH:mm tt")"></i> @approver.ApprovedOn.ToString("MM/dd/yyyy HH:mm tt")</td>

                }
            }
            <td>@approver.Comments</td>
        </tr>
        }

    </tbody>
</table>