@model Sentry.WebApp.ViewModels.GiftDisbursements.GiftDisbursementsListViewModel

@{
    ViewData["Title"] = "Gift Disbursements";
}

<ul class="page-title">
    <li>
        <h1>
            @ViewData["Title"]
        </h1>
    </li>
</ul>

<ol class="breadcrumb">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Sentry Home</a></li>
    <li><a asp-area="" asp-controller="Financial" asp-action="Index">Finance Dashboard</a></li>
    <li><a asp-area="" asp-controller="GiftDisbursements" asp-action="Index">Gift Disbursements Dashboard</a></li>
    <li class="active">Record List</li>
</ol>

<div id="content-container" class="content-container table-responsive" role="main">
    @await Html.PartialAsync("_CurrentRole")
    <table id="EmGiftDisbursementTable" class="table table-hover table-striped postToGL recordList">
        <caption class="sr-only">Gift Disbursments</caption>
        <thead>
            <tr class="tableHeader">
                <th style="display: none">giftDisbursementId</th>
                <th style="display: none">isPending</th>
                <th style="display: none">pendingComments</th>
                <th title="Status">Status</th>
                <th title="Prepared By">Preparer:</th>
                <th title="Form Number">Form #:</th>
                <th title="Department">Department:</th>
                <th title="Payee Name">Payee Name:</th>
                <th title="1099">1099:</th>
                <th title="Payment Type">Type:</th>
                <th title="Fund">Fund:</th>
                <th title="Special Instructions">Instructions:</th>
                <th style="display: none" title="Special Instructions">Instructions:</th>
                <th style="display: none">Reviewer Notes</th>
                <th title="Total Amount">Amount:</th>
                <th title="Date Created">Date Approved:</th>
                <th style="display: none">1099 Amount:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var giftDisbursement in Model.Disbursements)
            {
                <tr class="@giftDisbursement.RowStatusClass">
                    <td style="display: none">@giftDisbursement.GiftDisbursementId</td>
                    <td style="display: none">@giftDisbursement.IsPending</td>
                    <td style="display: none">@giftDisbursement.PendingComments</td>
                    <td>@giftDisbursement.Rejected</td>
                    <td>@giftDisbursement.PreparedByName</td>
                    <td>@giftDisbursement.FormNumber</td>
                    <td>@giftDisbursement.DepartmentCode - @giftDisbursement.DepartmentName</td>
                    <td>@giftDisbursement.PayeeName</td>
                    <td>@(@giftDisbursement.Has1099TotalValue ? "Yes" : "No")</td>
                    <td>@giftDisbursement.PayeePaymentType</td>
                    <td>@giftDisbursement.Fund</td>
                    <td>@giftDisbursement.PayeeSpecialInstructions</td>
                    <td style="display: none">@giftDisbursement.PayeeSpecialInstructions</td>
                    <td style="display: none">@giftDisbursement.ReviewerNotes</td>
                    <td>@giftDisbursement.Total</td>
                    <td>@giftDisbursement.LastApprovedOnDate</td>
                    <td style="display: none">@giftDisbursement.Total1099</td>
                </tr>
            }

        </tbody>
    </table>

</div>

@section scripts{
    @await Html.PartialAsync("_Scripts")
}
